    .imagini {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .imagine1 {
      width: 300px;
      height: 300px;
      margin-left: 100px;
    }
    .imagine2 {
        width: 350px;
        height: 200px;
        margin: 20px;
    }
    .imagine {
        margin-left: 100px;
        margin-right: 100px;
    }
#subsol {
    text-align: center;
    width: 100%;
}
.sfarsitPagina {
    height: 1px;
    background-color: black;
}